<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeviceAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--控制层配置项-->
    <!--控制层调试模式,true情况下，可以显示调试日志-->
    <add key="CtlDebugMode" value="true"/>
    
    <!--plc TCP连接的IP地址-->
    <add key="plcIP" value="192.168.1.13"/>
    
    <!--plc TCP连接的端口号-->
    <add key="plcPort" value="6000"/>
    <add key="RFIDComPortNum" value="4"/>
    <add key="RfidComAlloc" value="COM1,COM2,COM3,COM4"/>
    <add key="RfidCom1LoadDevs" value="1,2"/>
    <add key="RfidCom2LoadDevs" value="3,4"/>
    <add key="RfidCom3LoadDevs" value="5,6"/>
    <add key="RfidCom4LoadDevs" value="7,8"/>
    <!--控制任务执行超时上限，单位：分钟-->
    <add key="taskTimeOut" value="0.1"/>
    
    <!--管理层配置项-->
    <add key="JXDataBase" value="Data Source= JIXINSQL\JXBD;"/>
    <add key="JXDataBaseUserPwd" value="9x+Y8oaee3/dW5uQSDAyyCQtuQElhpl46iVu3PP1kbKA4EGrbLXil4JY4lR7mMDa+cybrZZ+CpB+9Z7p1eFgcg=="/>
    <!--调度层配置项-->
  </appSettings>
  <applicationSettings>
    <DeviceAssist.Properties.Settings>
      <setting name="设备助手_MesWs_EventService" serializeAs="String">
        <value>http://192.168.100.92:8123/soap/EventService</value>
      </setting>
    </DeviceAssist.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
