<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DBSource" value="Data Source = P-PC\SQL2008R2;" /> -->
    <!--<add key="DBSource" value="Data Source = DESKTOP-62J36HM;" />-->
    <add key="DBSource" value="Data Source = .;" />
    <add key="MTDBConn" value="Data Source =\\192.168.0.61\kbf\data.accdb;" />
    <add key="DCIRDBConn" value="Data Source =\\192.168.0.250\kbf\data.accdb;" />
    <add key="ALineScrewDBConn" value="Data Source =\\192.168.0.18\kbf\data.accdb;" />
    <add key="FXJDBConn" value="Data Source = .;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <httpRuntime  executionTimeout="1200000" />
    <compilation defaultLanguage="c#" debug="false"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>